.over_lay
{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 8;
}
.over_lay .close_btn
{
    position: absolute;
    right: 1%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    color: #333;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 40px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-label {
    font-weight: bold;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    background: #5cb85c;
    border-radius: 2px;
    border: none;
    min-width: 120px;
}

.btn:hover, .btn:focus {
    background: #419641;
    outline: none;
}

.link {
    color: #5cb85c;
    font-weight: bold;
    font-size: 15px;
}

.link:hover {
    color: #419641;
    text-decoration: none;
}