
@media (min-width: 1600px) 
{
  nav
   {
       position:fixed;
       width: 100%;
       height: 100px;
       background-color: #1b1b1d;  
       z-index: 3;
   } 
   nav .logo
   {
     position: absolute;
     left: 0;
     width: 80px;
     height: 80px;
     border-radius: 50%;
   }
   nav .user
   {
     position: absolute;
     top: 15%;
     right: 3%;
     width: 50px;
     height: 50px;
     background-color: aliceblue;
     border-radius: 50%;
     overflow: hidden;
   }
   .nav-btn
   {
     height: 28px;
     width: 28px;
     display: none;
   }
   .nav_overlay
   {
     display: none;
   }
   nav .ultility
   {
       position: absolute;
       top: 0;
       right: 8%;
       overflow: hidden;       
   }
   nav .menu
   {
      position: absolute;
      top: 25%;
      left: 35%;
   }
  }
@media (min-width: 1280px)  and (max-width: 1599px ) 
{
  nav
   {
       position:fixed;
       width: 100%;
       height: 100px;
       background-color: #1b1b1d;  
       z-index: 3;
   } 
   nav .logo
   {
     position: absolute;
     left: 0;
     width: 80px;
     height: 80px;
     border-radius: 50%;
   }
   .nav-btn
   {
     height: 28px;
     width: 28px;
     display: none;
   }
   .nav_overlay
   {
     display: none;
   }
   nav .user
   {
     position: absolute;
     top: 15%;
     right: 3%;
     width: 50px;
     height: 50px;
     background-color: aliceblue;
     border-radius: 50%;
     overflow: hidden;
   }
   
   nav .ultility
   {
       position: absolute;
       top: 0;
       right: 8%;
       overflow: hidden;       
   }
   nav .menu
   {
      position: absolute;
      top: 25%;
      left: 25%;
   }
 }
  nav .ribbon
   {
     position: absolute;
     top: 90%;
     width: 100%;
     height: 10%;
   }
   nav .ribbon .p1 { float: left; width: 30%; height: 100%; background-color: #0ca9ec;}
   nav .ribbon .p2 { float: left; width: 30%; height: 100%; background-color: #006eb7;}
   nav .ribbon .p3 { float: left; width: 30%; height: 100%; background-color: #ff3f33;}
   nav .ribbon .p4 { float: left; width: 10%; height: 100%; background-color: #f2f2f0;}
  nav .ultility .ultility1
  {        
      display: inline-block;
      padding: 25px;
  }
  #n1
  {
    width: 90px;
    height: 30px;
    background-color: #006eb7;
    color:#f2f2f0;
    border-radius:5px;
  }
  #n2
  {
    width: 90px;
    height: 30px;
    background-color:#ff3f33;
    color:#f2f2f0;
    border-radius:5px;
  }
  #n1:hover
  {
    background-color: rgba(65, 156, 241, 0.8);
  }
  #n2:hover
  {
    background-color: rgba(240, 56, 56, 0.8);
  }
  .nav .ultility .ultility1 a
  {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 14px 16px;
      font-size: larger;
  }
  
  nav .menu > .menu-item{
      float: left;
      margin-right: 15px;
    }
    
  nav .menu>.menu-item>a{
      text-transform: uppercase;
      color: white;
    }
    
    nav .menu .menu-item{
      position: relative;
      list-style:none;
      border-right: 1px #504f4f solid;
    }
    
    nav .menu .menu-item a{
      padding: 10px;
      line-height: 20px;
      display: inline-block;
      text-decoration: none;
    }
    nav .menu .menu-item:hover { background-color: #524e4e }
    nav .menu .menu-item .menu1{
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      width: 200px;
      height: fit-content;
      background-color: #524e4e;
      border-radius: 15px;
      padding: 5px 20px;
      z-index: 2;
    }
    
    nav .menu .menu-item:hover>.menu1{
      display: block;
    }
    nav .menu .menu-item .menu1 .menu-item1{
      position: relative;
      list-style:none;
    }
    nav .menu .menu-item .menu1 .menu-item1 a
    {
      color: white;
    }
    nav .menu .menu-item .menu1 .menu-item1:hover
    {
      background-color: rgb(143, 143, 143, 0.5);
    }
    nav .menu>.menu-item>.menu1{
      top: 40px;
      left: 0;
    }


@media (min-width: 720px) and (max-width: 1279px)
{
      .nav-btn
      {
        position: absolute;
        top: 25%;
        right: 3%;
        height: 30px;
        width: 30px;
        display: block;
      }
      .nav_overlay
      {
        position:fixed;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 3;
      }
      .mobile_nav
      {
          position:absolute;
          right: 0;
          width: 20%;
          height: 100%;
          background-color: #f2f2f0;
          margin: auto;
          z-index: 4;
      }
      .close
      {
        position:absolute;
        height: 5%;
        width: 100%;
        z-index: 4;
      }
      .mobile_list
      {
        position: absolute;
        top: 5%;
        width: 100%;
        list-style-type: none;
        padding: 15px;
      }
      .mobile-item
      {
        width: 100%;
        margin: auto;
        padding: 10px;
      }
      .mobile-item:hover
      {
        background-color: rgba(65, 156, 241, 0.8);
      }
      .nav .menu
      {
          display: none;
      }
      nav
      {
       position:fixed;
       width: 100%;
       height: 100px;
       background-color: #1b1b1d;  
       z-index: 3;
      } 
      nav .ribbon
   {
     position: absolute;
     top: 90%;
     width: 100%;
     height: 10%;
   }
   nav .ribbon .p1 { float: left; width: 30%; height: 100%; background-color: #0ca9ec;}
   nav .ribbon .p2 { float: left; width: 30%; height: 100%; background-color: #006eb7;}
   nav .ribbon .p3 { float: left; width: 30%; height: 100%; background-color: #ff3f33;}
   nav .ribbon .p4 { float: left; width: 10%; height: 100%; background-color: #f2f2f0;}
  nav .ultility .ultility1
  {        
      display: inline-block;
      padding: 25px;
  }
  #n1
  {
    width: 90px;
    height: 30px;
    background-color: #006eb7;
    color:#f2f2f0;
    border-radius:5px;
  }
  #n2
  {
    width: 90px;
    height: 30px;
    background-color:#ff3f33;
    color:#f2f2f0;
    border-radius:5px;
  }
  #n1:hover
  {
    background-color: rgba(65, 156, 241, 0.8);
  }
  #n2:hover
  {
    background-color: rgba(240, 56, 56, 0.8);
  }
  nav form
  {
    position: absolute;
    top: 0;
    width: 100%;
  }
  nav .ultility
  {    
      width: 50%;
      margin: auto;
      overflow: hidden;       
  }
  .nav .ultility .ultility1 a
  {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 14px 16px;
      font-size: larger;
  }
  nav .user
   {
     position: absolute;
     top: 15%;
     right: 15%;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     overflow: hidden;
   }
}
@media (max-width: 719px)
{
      .nav-btn
      {
        position: absolute;
        top: 25%;
        right: 3%;
        height: 30px;
        width: 30px;
        display: block;
      }
      .nav_overlay
      {
        position:fixed;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 3;
      }
      .mobile_nav
      {
          position:absolute;
          right: 0;
          width: 40%;
          height: 100%;
          background-color: #f2f2f0;
          margin: auto;
          z-index: 4;
      }
      .close
      {
        position:absolute;
        height: 5%;
        width: 100%;
        z-index: 4;
      }
      .mobile_list
      {
        position: absolute;
        top: 5%;
        width: 100%;
        list-style-type: none;
        padding: 15px;
      }
      .mobile-item
      {
        width: 100%;
        margin: auto;
        padding: 10px;
      }
      .mobile-item:hover
      {
        background-color: rgba(65, 156, 241, 0.8);
      }
      .nav .menu
      {
          display: none;
      }
      nav
      {
       position:fixed;
       width: 100%;
       height: 100px;
       background-color: #1b1b1d;  
       z-index: 3;
      } 
      nav .ribbon
   {
     position: absolute;
     top: 90%;
     width: 100%;
     height: 10%;
   }
   nav .ribbon .p1 { float: left; width: 30%; height: 100%; background-color: #0ca9ec;}
   nav .ribbon .p2 { float: left; width: 30%; height: 100%; background-color: #006eb7;}
   nav .ribbon .p3 { float: left; width: 30%; height: 100%; background-color: #ff3f33;}
   nav .ribbon .p4 { float: left; width: 10%; height: 100%; background-color: #f2f2f0;}
  nav .ultility .ultility1
  {        
      display: inline-block;
      padding: 25px;
  }
  #n1
  {
    width: 90px;
    height: 30px;
    background-color: #006eb7;
    color:#f2f2f0;
    border-radius:5px;
  }
  #n2
  {
    width: 90px;
    height: 30px;
    background-color:#ff3f33;
    color:#f2f2f0;
    border-radius:5px;
  }
  #n1:hover
  {
    background-color: rgba(65, 156, 241, 0.8);
  }
  #n2:hover
  {
    background-color: rgba(240, 56, 56, 0.8);
  }
  nav form
  {
    position: absolute;
    top: 0;
    width: 100%;
  }
  nav .ultility
  {    
      width: 50%;
      margin: auto;
      overflow: hidden;       
  }
  .nav .ultility .ultility1 a
  {
      text-decoration: none;
      text-align: center;
      display: block;
      padding: 14px 16px;
      font-size: larger;
  }
  nav .user
   {
     position: absolute;
     top: 15%;
     right: 15%;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     overflow: hidden;
   }
}
 